<h1>Pages#index</h1>

<p>Find <b>****Jon Eaves****</b> in app/views/pages/index.html.erb</p>

<p>Find me in app/views/pages/index.html.erb</p>


<p><b>Elvin</b></p>


<h1>Dovy</h1>
<h1>Imani Fecu!!!!</h1>
Josh
<h1>JaMiE<h1>
<h1>Josh</h1>
<h1>JaMiE<h1>
<h1>janice</h1>

<h1>JaMiE<h1>
<h1>Andrew Southard</h1>

<p>Find <b>****Jon Eaves****</b> in app/views/pages/index.html.erb</p>


