<h1>Pages#index</h1>
<<<<<<< HEAD
<p>Find <b>****Jon Eaves****</b> in app/views/pages/index.html.erb</p>
=======
<p>Find me in app/views/pages/index.html.erb</p>
<<<<<<< HEAD
<<<<<<< HEAD
<h1>Dovy</h1>
=======
=======
<h1>Imani Fecu!!!!</h1>

<h1>Josh</h1>
>>>>>>> 21abd27004aca51bcdc9097014c13201defa9a61

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<h1>JaMiE<h1>
=======
janice
>>>>>>> 2e7a7eed42524ff51a2093effdaa5b95f31900d3
=======
=======
janice
=======
<h1>janice</h1>

<h1>JaMiE<h1>
>>>>>>> 109f65a58784609d4b2ba8030ca8bcf741b3b513

>>>>>>> 99fabcd4edfa938a228a21ba40f1c5558ed4a565
<h1>Andrew Southard</h1>
<<<<<<< HEAD
>>>>>>> 210d89c69006eacacca4b17f4d987cd4feb4bc18
>>>>>>> 2e7a7eed42524ff51a2093effdaa5b95f31900d3
<<<<<<< HEAD
>>>>>>> 0cd8395a86bc71e1858275e4aaa76db5883359b7
=======
=======

>>>>>>> 99fabcd4edfa938a228a21ba40f1c5558ed4a565

<p>Find <b>****Jon Eaves****</b> in app/views/pages/index.html.erb</p>
<p>Find <b>****Jon Eaves****</b> in app/views/pages/index.html.erb</p>
<p>Find <b>****Jon Eaves****</b> in app/views/pages/index.html.erb</p>
>>>>>>> 21abd27004aca51bcdc9097014c13201defa9a61
