<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<h1>Imani Fecu!!!!</h1>

janice
=======
<h1>Andrew Southard</h1>
>>>>>>> 210d89c69006eacacca4b17f4d987cd4feb4bc18
>>>>>>> 2e7a7eed42524ff51a2093effdaa5b95f31900d3
